<div class="modal m-2">
  <div class="close ion-close-round"></div>

  <div class="flex">
    <div class="picture">
      <img src="assets/images/faces/3.jpg" alt=""/>
    </div>
    <div class="infos">
      <h2 class="title marged-bot">Anne Poulis</h2>
      <p><i class="ion-location c-blue"></i> Paris</p>
      <p class="marged-bot"><i class="ion-person c-blue"></i> Femme, 25 ans</p>
      <p class="desc">
        Etudiante au CFA stephensen, <br>Je suis tres organisée, précise et rigoureuse.<br>
        Je répond à toute heure, alors contactez-moi !
      </p>
      <table class="table-jobs">
        <tr>
          <td class="w-10">
            <i class="icon-clo"></i>
          </td>
          <td class="w-70">
            <p>Service</p>
          </td>
        </tr>
        <tr>
          <td class="w-10">
            <i class="icon-glass"></i>
          </td>
          <td class="w-70">
            <p>Barman</p>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div>
    <h2>Formation</h2>
    <table class="table-jobs marged-bot">
      <tr>
        <td class="w-10">
          <i class="ion-university"></i>
        </td>
        <td class="w-70">
          <p>CFA Stephensen</p>
        </td>
      </tr>
      <tr>
        <td class="w-10">
          <i class="icon-food"></i>
        </td>
        <td class="w-70">
          <p>Stage service/cuisine</p>
        </td>
      </tr>

    </table>
    <h2>Avis</h2>
    <div class="avis">
      <p>
        Anne est ponctuelle, vive et tres efficace! <br>
        <i class="ion-star c-yellow"></i>
        <i class="ion-star c-yellow"></i>
        <i class="ion-star c-yellow"></i>
        <i class="ion-star c-yellow"></i>
      </p>
    </div>

  </div>
</div>
