
<section class="row contained">
  <div class="all-full pad">

    <div class="card-offer marged-top">
      <header>
        <h1><i class="big ion-ios-paper-outline"></i>Mon annonce</h1>
      </header>
      <h2 class="title"> {{vm.offer.name}}</h2>
      <p class="c-red marged-bot">
        <em>{{vm.offer.date}}</em>
      </p>
      <p class="marged-bot">{{vm.offer.desc}}</p>
      <table class="table-jobs">
        <tr ng-repeat="job in vm.offer.jobs">
          <td class="w-5" align="center">
            <em class="c-blue">{{job.nb}}</em> x
          </td>
          <td class="w-10">
            <i ng-if="job.name == 'Sommelier' " class="icon-bottle"></i>
            <i ng-if="job.name == 'Cuisto' " class="icon-couvert"></i>
            <i ng-if="job.name == 'Sous-chef' " class="icon-toque"></i>
            <i ng-if="job.name == 'Service' " class="icon-clo"></i>
            <i ng-if="job.name == 'Barman' " class="icon-glass"></i>
            <i ng-if="job.name == 'Commis' " class="icon-cut"></i>
          </td>
          <td class="w-70">
            <p>{{job.name}}</p>
          </td>

        </tr>
      </table>

    </div>
    <header class="big-title">
      <h1><i class="icon-toque"></i>Rechercher une aide extraordinaire</h1>
    </header>
  </div>
</section>

<section class="extra-results">
  <div class="row flow">
    <div class="all-full">
      <div class="flex">
        <p class="marged-right"><em>{{vm.nbSelected}}</em> selectionné{{vm.nbSelected > 1 ? 's' : ''}}</p>
        <button class="btn-sm-info flex-auto-end marged-right" ng-click="vm.sendEmail()"><i class="ion-ios-email marged-right"></i>Envoyer les demandes </button>
        <button ng-class="{'select-all': vm.all==true}" class="btn-sm-info" ng-click="vm.selectAll()">Tout selectionner</button>
      </div>
    </div>
  </div>

  <ul class="result row flow">
    <li class="card desktop-3 tablet-2 mobile-full" ng-repeat="result in vm.results" ng-class="{'is-selected': result.select}" ng-click="vm.select($index)">

      <button ng-click="vm.showProfile($event)" class="round-right"><i class="ion-eye"></i></button>
      <button ng-if="result.status != 'available'" class="tag-left">
      <span ng-if="result.status == 'asked'">en attente</span>
      <span ng-if="result.status == 'confirmed'">confirmé</span>
      </button>

      <img class="img-extra" src="{{result.img}}" alt=""/>

      <div class="infos">
        <div class="jobs-extra">
          <h2 class="text-center extra-name ">{{result.name}}</h2>
          <p class="text-center">
            <i class="ion-star c-yellow" ng-repeat="i in vm.getNumber(result.stars) track by $index"></i>
          </p>
          <table class="table-jobs">
            <tr  ng-repeat="job in result.job">
              <td class="w-10">
                <i ng-if="job == 'Sommelier' " class="icon-bottle"></i>
                <i ng-if="job == 'Cuisto' " class="icon-couvert"></i>
                <i ng-if="job == 'Sous-chef' " class="icon-toque"></i>
                <i ng-if="job == 'Service' " class="icon-clo"></i>
                <i ng-if="job == 'Barman' " class="icon-glass"></i>
                <i ng-if="job == 'Commis' " class="icon-cut"></i>
              </td>
              <td class="w-70">
                <p>{{job}}</p>
              </td>
            </tr>
          </table>
        </div>

      </div>

    </li>
  </ul>
</section>
