<div class="row">
  <div class="desktop-3 tablet-2 mobile-full marged-bot">

    <div class="card-dark sidebar">

      <header>
        <img class="sidebar--profile-pic" src="http://placehold.it/100x100" alt=""/>
      </header>

      <nav>
        <button class="nav-item active">
          <i class="ion-android-calendar"></i>
          <span>Creneaux</span>
          <span class="badge-blue">12</span>
        </button>
        <button class="nav-item">
          <i class="ion-person"></i>
          <span>Profil</span>
        </button>
        <button class="nav-item">
          <i class="ion-ios-email"></i>
          <span>Messages</span>
          <span class="badge-red">4</span>
        </button>
        <button class="nav-item spaced">
          <i class="ion-log-out"></i>
          <span>Deconnexion</span>
        </button>
      </nav>

    </div>

  </div>
  <div class="desktop-9 tablet-4 mobile-full">

    <div class="card pad">
      <h2 class="title flow">onetuh euhone</h2>
      <p class="flow">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequuntur, cumque earum esse fuga in ipsam ipsum magnam minima, natus nobis optio praesentium quidem repellat ullam vel voluptatum! Aliquid, quod.</p>
      <h2 class="title flow">onetuh euhone</h2>
      <p class="flow">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequuntur, cumque earum esse fuga in ipsam ipsum magnam minima, natus nobis optio praesentium quidem repellat ullam vel voluptatum! Aliquid, quod.</p>
      <h2 class="title flow">onetuh euhone</h2>
      <p class="flow">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequuntur, cumque earum esse fuga in ipsam ipsum magnam minima, natus nobis optio praesentium quidem repellat ullam vel voluptatum! Aliquid, quod.</p>
      <h2 class="title flow">onetuh euhone</h2>
      <p class="flow">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequuntur, cumque earum esse fuga in ipsam ipsum magnam minima, natus nobis optio praesentium quidem repellat ullam vel voluptatum! Aliquid, quod.</p>
    </div>

  </div>
</div>
