<div class="row">
  <div class="desktop-3 tablet-2 mobile-full marged-bot">

    <div class="card-dark sidebar">

      <header>
        <img class="sidebar--profile-pic" src="http://placehold.it/100x100" alt=""/>
      </header>

      <nav>
        <button class="nav-item active">
          <i class="ion-android-calendar"></i>
          <span>Creneaux</span>
          <span class="badge-blue">12</span>
        </button>
        <button class="nav-item">
          <i class="ion-ios-email"></i>
          <span>Messages</span>
          <span class="badge-red">4</span>
        </button>
        <button class="nav-item">
          <i class="ion-person"></i>
          <span>Profil</span>
        </button>
        <button class="nav-item spaced">
          <i class="ion-log-out"></i>
          <span>Deconnexion</span>
        </button>
      </nav>

    </div>

  </div>
  <div class="desktop-9 tablet-4 mobile-full">

    <div class="card pad">
      <h2 class="title flow text-center">Infos</h2>

      <form ng-submit="vm.save()" class="flow">

        <div class="form-group">
          <label for="inputName">Nom & Prenom :</label>
          <input id="inputName" type="text" class="form-control" placeholder="Nom / Prenom"/>
        </div>

        <div class="form-group">
          <label for="inputEmail">Adresse mail :</label>
          <input id="inputEmail" type="text" class="form-control" placeholder="Email"/>
        </div>

        <div class="form-group">
          <label for="inputPhone">Telephone :</label>
          <input id="inputPhone" type="text" class="form-control" placeholder="Telephone"/>
        </div>

        <div class="form-group">
          <label for="inputBirth">Date de naissance :</label>
          <input id="inputBirth" type="text" class="form-control" placeholder="YYYY-MM-DD"/>
        </div>

        <div class="form-group text-right">
          <button type="submit" class="btn">
            <i class="ion-checkmark"></i>
            Enregistrer
          </button>
        </div>

      </form>

    </div>

    <div class="card pad text-center">
      <h2 class="title flow">CV</h2>
      <p class="flow">On s'en branle de ton CV.</p>
    </div>

  </div>
</div>
