@import "variables";

.btn {
  cursor: pointer;
  font: inherit;
  border: none;
  background: $c-black;
  color: $c-white;
  padding: .5em 1em;
  outline-color: darken(white, 20);
  text-decoration: none;
  box-shadow: rgba(black, .3) 0 1px 1px;

  > i {
    margin-right: .5em;
  }

  &:hover {
    text-decoration: none;
  }

}

.btn-block {
  width: 100%;
  display: block;
  box-shadow: none;
}

.btn-danger {
  @extend .btn;
  background: $c-red;
}

.btn-success {
  @extend .btn;
  background: $c-green-light;
  color: $c-black;
}

.btn-info {
  @extend .btn;
  background: $c-blue;
  color: white;
}
