@import "variables";

.btn {
  cursor: pointer;
  font: inherit;
  border: none;
  background: $c-black;
  color: $c-white;
  padding: .5em 1em;
  outline-color: darken(white, 20);
  text-decoration: none;

  > i {
    margin-right: .5em;
  }

  &:hover {
    text-decoration: none;
  }

}

.btn-danger {
  @extend .btn;
  background: $c-red;
}

.btn-success {
  @extend .btn;
  background: $c-green-light;
  color: $c-black;
}
