@import "variables";

.form-group {
  > label {
    font-weight: 400;
    font-size: 16px;
    background: rgba($c-blue, .2);
    padding: 4px;
    color: $c-blue;
    &.yyyttt {
      background: none;
      color: $c-black;
    }
  }

  & + .form-group {
    margin-top: 1rem;
  }
}

.form-control {
  padding: .5em;
  font: inherit;
  width: 100%;
  outline: none;
  border: 1px solid transparent;
  background: white;
  transition: 100ms ease-out box-shadow;
  &.visible {
    border-color: rgba($c-black, .2);
  }

  &:hover {
    border-color: rgba($c-black, .2);
  }

  &:focus {
    border-color: rgba($c-black, .2);
    box-shadow: rgba($c-black, .2) 0 3px 3px;
  }
}
