.pad {
  padding: 1rem;
}

.pad-v {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.text-right {
  text-align: right;
}

.marged-bot {
  margin-bottom: 1em;
}

.marged-top {
  margin-top: 1em;
}

.marged-right {
  margin-right: 1em;
}


.text-center {
  text-align: center;
}

.fade-out {
  transition: 300ms ease-in opacity;
}

.is-transparent {
  opacity: 0;
}

.c-green {
  color: $c-green;
}

.c-blue {
  color: $c-blue;
}

.c-red {
  color: $c-red;
}

.c-yellow {
  color: #FFD6A3;
}

em {
  font-weight: bolder;
}

.flow + .flow {
  margin-top: 1em;
}


.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-auto-end {
  margin-left: auto;
}

.float-right {
  float: right;
}
