.pad {
  padding: 1rem;
}

.text-right {
  text-align: right;
}

.marged-bot {
  margin-bottom: 1em;
}

.marged-right {
  margin-right: 1em;
}


.text-center {
  text-align: center;
}

.fade-out {
  transition: 300ms ease-in opacity;
}

.is-transparent {
  opacity: 0;
}

.c-green {
  color: $c-green;
}

.c-blue {
  color: $c-blue;
}

.c-red {
  color: $c-red;
}

em {
  font-weight: bolder;
}
