@import url(http://fonts.googleapis.com/css?family=Advent+Pro:400,200,600);
@import url(http://fonts.googleapis.com/css?family=Roboto:400italic,100,700,100italic,400);

$fontsize: 24px;

// colors
$c-white: rgb(240,240,216);
$c-green-light: rgb(180,222,190);
$c-green: rgb(119,204,164);
$c-black: rgb(102,102,102);
$c-red: rgb(224,142,121);
$c-blue: rgb(132,171,170);
$c-blue-dark : darken($c-blue, 18);
$c-yellow: #FFD6A3;

