@import "variables";
@import "utils";
@import "form";
@import "button";
@import "sidebar";

// imports
@import "../views/pro-search/pro-search";
@import "../views/extra-profile/extra-profile";
@import "../views/extra-search/extra-search";
@import "../views/login/login";
@import "../views/home/home";

::-webkit-input-placeholder { color: rgba(black, .3); }
::-moz-placeholder { color: rgba(black, .3); } /* firefox 19+ */
:-ms-input-placeholder { color: rgba(black, .3); } /* ie */
input:-moz-placeholder { color: rgba(black, .3); }


body {
  font-family: 'Roboto', sans-serif;
  font-size: $fontsize;
  line-height: 1.5em;
  font-weight: 200;
  color: $c-black;
  background-color: darken(white, 10);
}

.title {
  font-family: 'Advent Pro', sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

.viewport {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.view {
  flex: 1;

  &.ng-enter {
    -webkit-transition: 0.2s ease-out opacity;
    transition: 0.2s ease-out opacity;
    opacity: 0;

    &.ng-enter-active {
      opacity: 1;
    }

  }

}

.main-footer {
  background: $c-black;
}

.card {
  border: 1px solid white;
  background: darken(white, 2);
  box-shadow: rgba(black, .05) 0 4px 5px;
  & + .card {
    margin-top: 1em;
  }
}

.card-dark {
  border: 1px solid darken($c-black, 5);
  background: $c-black;
  color: darken(white, 15);
  text-shadow: rgba(black, .5) 0 1px;
  box-shadow: rgba(black, .2) 0 4px 5px;
}

.panel-dark {
  background: rgba($c-black, .2);
  box-shadow: rgba($c-black, .3) 0 -1px 4px inset;
}

a {
  text-decoration: none;
  color: $c-green;
  font-weight: 400;
  &:hover {
    text-decoration: underline;
  }
}
