@import "variables";
@import "utils";
@import "form";
@import "button";

@import "../views/home/home";

body {
  font-family: 'Roboto', sans-serif;
  font-size: $fontsize;
  line-height: 1.5em;
  font-weight: 200;
  color: $c-black;
  background-color: darken(white, 10);
}

.title {
  font-family: 'Advent Pro', sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

.viewport {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.view {
  flex: 1;
}

.main-footer {
  background: $c-black;
}

.card {
  border: 1px solid white;
  background: darken(white, 2);
  box-shadow: rgba(black, .05) 0 4px 5px;
}

.panel-dark {
  background: rgba($c-black, .2);
  box-shadow: rgba($c-black, .3) 0 -1px 4px inset;
}
