<div class="row">
  <div class="all-full">

    <div class="big-title">
      <h2>
        <i class="big ion-android-calendar"></i>
        Mon calendrier
      </h2>
    </div>

    <table class="calendar">
      <tbody>
        <tr>
          <td class="labels">&nbsp;</td>
          <td>
          <span class="round-badge">
            Midi
          </span>
          </td>
          <td>
          <span class="round-badge">
            Soir
          </span>
          </td>
        </tr>
        <tr ng-repeat="day in vm.days">
          <td class="labels day">
            <span class="round-badge">
              {{ vm.getLabel(day) }}
            </span>
          </td>
          <td class="cell" ng-class="{ available: day.midi }" ng-click="vm.setDisp(day, 'midi')">
            <button class="set-disp" ng-show="!day.midi">
              Libre
            </button>
            <div ng-show="day.midi">
              Disponible
            </div>
          </td>
          <td class="cell" ng-class="{ available: day.soir }" ng-click="vm.setDisp(day, 'soir')">
            <button class="set-disp" ng-show="!day.soir">
              Libre
            </button>
            <div ng-show="day.soir">
              Disponible
            </div>
          </td>
        </tr>
      </tbody>

    </table>

  </div>
</div>
