@import "../../styles/variables";

.calendar {
  width: 650px;
  margin: 0 auto;
  td {
    text-align: center;
    vertical-align: middle;
    padding: 1em;
    width: 250px;
  }
  td.labels {
    width: 150px;
    text-align: right;
  }

  .set-disp {
    background: transparent;
    font: inherit;
    font-size: 18px;
    color: $c-black;
    border: none;
    outline: none;
    cursor: pointer;
    &:hover {
      color: darken($c-blue, 20);
    }
  }

  tr:hover td.labels.day {
    background: rgba($c-black, .7);
    span {
      color: white;
    }
  }

  .cell {
    width: 250px;
    height: 100px;
    cursor: pointer;
    background: rgba(white, .8);
    &:hover {
      background: rgba(white, .5);

    }
  }

  .available {
    font-size: 18px;
    color: white;
    background: $c-green;
    &:hover {
      background: rgba($c-green, .7);
    }
  }

}
