<div class="home-actions">
  <a class="btn-success" href="/login">
    <i class="ion-person"></i>
    Connexion
  </a>
</div>

<section class="home-banner">
  <img src="assets/images/logo_green.png" alt=""/>
  <div class="home-slogan">
    <h1>Extra Minute''</h1>
    <h3>
      Vous avez une minute? Ils ont le potentiel.<br/>
      Laissez-les sauver vos soirées.
    </h3>
  </div>

</section>


<div class="row">
  <div class="all-half mobile-full pad" style="background: white">
    <h2 class="title">Extra Minute</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci, commodi cum dicta dolorum et ex libero minus molestias nihil nisi, non numquam perferendis provident quas quidem quod repellat, voluptatibus.</p>
  </div>
  <div class="all-half mobile-full pad" style="background: white">
    yolo
  </div>
</div>
