@import "../../styles/variables";

.home-actions {
  position: absolute;
  top: 2rem;
  right: 1.5rem;
}

.home-banner {
  background: url(../../assets/images/home_background_blur.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  padding-top: 10%;
  text-align: center;
  color : $c-green;
  img {
    margin-bottom: 1em;
  }
  h1 {
    font-family: 'Advent Pro', sans-serif;
    font-weight: 600;
    font-size: 5rem;
    line-height: 1em;
    text-shadow: rgba(black, .7) 0 2px 2px;
    margin-bottom: 2rem;
  }
  h3 {
    font-size: 2rem;
    color: $c-white;
  }
  .home-slogan {
    padding: 2em 0;
    background-color: rgba(black, .4);
  }
}
