<section class="row contained">
  <div class="all-full">
    <header class="big-title">
      <h1><i class="big ion-ios-paper-outline"></i>Les dernières annonces</h1>
    </header>
  </div>
</section>


<section class="extra-results">
  <ul class="result row">
    <li ng-class="{'is-waiting': result.status == 'waiting'}" class="yolo-result card desktop-3 tablet-half mobile-full" ng-repeat="result in vm.results">

      <button ng-if="result.name == 'La Truffière'" ng-morph-modal="settings" class="round-right"><i class="ion-eye"></i></button>
      <button ng-if="result.name != 'La Truffière'"  class="round-right"><i class="ion-eye"></i></button>
      <img class="img-pro" src="{{result.img}}" alt=""/>

      <div class="infos text-center">
        <div ng-show="result.status == 'available'" class="asked marged-bot">
          <button ng-click="vm.select($index)" class="btn-info select-all">Postuler</button>
        </div>
        <div ng-show="result.status == 'waiting'" class="asked marged-bot">
          <button class="btn-info select-all">En attente</button>
        </div>
        <div class="jobs-pro">
          <h2 class="text-center">{{result.name}}</h2>
          <table class="table-jobs">
            <tr ng-repeat="job in result.jobs">
              <td class="w-10">
                <i ng-if="job.name == 'Sommelier' " class="icon-bottle"></i>
                <i ng-if="job.name == 'Cuisto' " class="icon-couvert"></i>
                <i ng-if="job.name == 'Sous-chef' " class="icon-toque"></i>
                <i ng-if="job.name == 'Service' " class="icon-clo"></i>
                <i ng-if="job.name == 'Barman' " class="icon-glass"></i>
                <i ng-if="job.name == 'Commis' " class="icon-cut"></i>
              </td>
              <td class="w-70">
                <p>{{job.name}}</p>
              </td>
              <td class="w-20" align="right">
                <em class="c-blue">{{job.nb}}</em>
              </td>
            </tr>
          </table>
        </div>

        <p class="date text-center"><em class="c-red"><i class="icon-calendar marged-right"></i>{{result.date}}</em></p>
      </div>
    </li>
  </ul>
</section>
