<modal yolo="vm.showmodal">
  <div class="modal">
    <div ng-click="vm.showmodal = false" class="close ion-close-round"></div>
    <img src="assets/images/gm.jpg" alt=""/>
    <h2 class="title marged-bot">La truffières</h2>
    <p><i class="ion-location"></i> Paris</p>
    <p class="marged-bot"><i class="icon-couvert"></i> 150 couverts</p>
    <p class="desc">
      Présence de 18h à minuit, <br>possibilité de manger sur place.<br>
      Tenu: cravate noire, chemise blanche.
    </p>
    <table class="table-jobs">
      <tr>
        <td class="w-10">
          <i class="icon-bottle"></i>
        </td>
        <td class="w-70">
          <p>Sommelier</p>
        </td>
        <td class="w-5" align="center">
          <em class="c-blue">0/1</em>
        </td>
      </tr>
      <tr>
        <td class="w-10">
          <i class="icon-toque"></i>
        </td>
        <td class="w-70">
          <p>Sous-chef</p>
        </td>
        <td class="w-5" align="center">
          <em class="c-blue">1/1</em>
        </td>
      </tr>
    </table>
  </div>
</modal>

<section class="row contained">
  <div class="all-full">
    <header class="big-title">
      <h2><i class="big ion-ios-paper-outline"></i>Les dernières annonces</h2>
    </header>
  </div>
</section>


<section class="extra-results">
  <ul class="result row">
    <li ng-class="{'is-waiting': result.status == 'waiting'}" class="yolo-result card desktop-3 tablet-half mobile-full" ng-repeat="result in vm.results">

      <button class="round-right" ng-click="vm.afficheModal($event)"><i class="ion-eye"></i></button>

      <img class="img-pro" ng-src="{{result.img}}" alt=""/>

      <div class="infos text-center">
        <div ng-show="result.status == 'available'" class="asked marged-bot">
          <button ng-click="vm.select($index)" class="btn-info select-all">Postuler</button>
        </div>
        <div ng-show="result.status == 'waiting'" class="asked marged-bot">
          <button class="btn-info select-all">En attente</button>
        </div>
        <div class="jobs-pro">
          <h2 class="text-center">{{result.name}}</h2>
          <table class="table-jobs">
            <tr ng-repeat="job in result.jobs">
              <td class="w-10">
                <i ng-if="job.name == 'Sommelier' " class="icon-bottle"></i>
                <i ng-if="job.name == 'Plongeur' " class="icon-couvert"></i>
                <i ng-if="job.name == 'Cuisinier' " class="icon-toque"></i>
                <i ng-if="job.name == 'Serveur' " class="icon-clo"></i>
                <i ng-if="job.name == 'Barman' " class="icon-glass"></i>
                <i ng-if="job.name == 'Commis cuisine' " class="icon-cut"></i>
              </td>
              <td class="w-70">
                <p>{{job.name}}</p>
              </td>
              <td class="w-20" align="right">
                <em class="c-blue">{{job.nb}}</em>
              </td>
            </tr>
          </table>
        </div>

        <p class="date text-center"><em class="c-red"><i class="icon-calendar marged-right"></i>{{result.date}}</em></p>
      </div>
    </li>
  </ul>
</section>
