@import "../../styles/variables";

.extra-results {
  .img-pro {
    height: 100px;
  }
  .img-extra {
    width: 100%;
  }
  ul.result {
    li.card {
      cursor: pointer;
      overflow: hidden;
      margin-bottom: 1em;
      border-width: 3px;
      position: relative;
      &.is-selected {
        border-color: $c-blue;
      }
    }
  }
  .infos {
    margin: 1em;
    h2 {
      font-family: 'Advent Pro', sans-serif;
      font-weight: 600;
      line-height: 1em;
    }
    .jobs-pro {
      height: 260px;
      table {
        margin-top: 1em;
      }
    }
    .jobs-extra {
      height: 160px;
    }

  }
}

table.table-jobs {
  width: 100%;
  em {
    font-size: 1.4em;
  }
  td {
    vertical-align: middle;
    font-size: 16px;
  }
  td.w-5 {
    width: 25px;
  }
  td.w-10 {
    width: 50px;
    i {
      font-size: 35px;
      display: block;
      width: 35px;
      height: 35px;
      line-height: 35px;
      text-align: center;
    }
  }
  td.w-20 {
    width: 75px;
  }
  td.w-70 {
    width: 150px;
    padding: .5em 0 .5em 1em;
  }
}
