@import "../../styles/variables";

.extra-results {
  .img-pro {
    height: 100px;
  }
  .img-extra {
    width: 100%;
  }
  ul.result {
    li.card {
      cursor: pointer;
      overflow: hidden;
      margin-bottom: 1em;
      border-width: 3px;
      position: relative;
      &.is-selected {
        border-color: $c-blue;
      }
      &.is-waiting {
        opacity: .5;
      }
    }
  }
  .infos {
    margin: 1em;
    h2 {
      font-family: 'Advent Pro', sans-serif;
      font-weight: 600;
      line-height: 1em;
    }
    .jobs-pro {
      height: 210px;
      table {
        margin-top: 1em;
      }
    }
    .jobs-extra {
      height: 160px;
    }
    .date {
      font-size: .8em;
    }
    .asked {
      margin-top: -65px;
    }
  }
}

table.table-jobs {
  width: 100%;
  em {
    font-size: 1.4em;
  }
  td {
    vertical-align: middle;
    font-size: 16px;
  }
  td.w-5 {
    width: 25px;
  }
  td.w-10 {
    width: 50px;
    i {
      font-size: 35px;
      display: block;
      width: 35px;
      height: 35px;
      line-height: 35px;
      text-align: center;
    }
  }
  td.w-20 {
    width: 75px;
  }
  td.w-70 {
    width: 150px;
    padding: .5em 0 .5em 1em;
  }
}

.modal {
  position: relative;
  background-color: white;
  padding: .8em;
  width: 440px;
  cursor: default;
  height: 700px;
  img {
    width: 100%;
  }
  .desc {
    font-size: 18px;
    line-height: 1em;
    margin-bottom: 1em;
  }
  .close {
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: $c-red;
    color: white;
    border-radius: 100%;
    width: 34px;
    height: 34px;
    text-align: center;
  }
}

.m-2 {
  width: 800px;
  height: 720px;
  .picture {
    width: 45%;
    img {
      width: 100%;
    }
  }
  .avis {
    border: 1px solid $c-black;
    padding: .5em;
    font-size: .8em;
  }
  .info {
    width: 50%;
  }
}
