<div class="modal">
  <div class="close ion-close-round"></div>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2625.716713958686!2d2.3489120000000048!3d48.84454200000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e5eafb8de29c2b%3A0xb90410baf95132b0!2sRestaurant+la+truffiere!5e0!3m2!1sfr!2sfr!4v1426738806394" width="400" height="300" frameborder="0" style="border:0"></iframe>
  <h2 class="title marged-bot">La truffières</h2>
  <p><i class="ion-location"></i> Paris</p>
  <p class="marged-bot"><i class="icon-couvert"></i> 150 couverts</p>
  <p class="desc">
    Présence de 18h à minuit, <br>possibilité de manger sur place.<br>
    Tenu: cravate noire, chemise blanche.
  </p>
  <table class="table-jobs">
    <tr>
      <td class="w-10">
        <i class="icon-bottle"></i>
      </td>
      <td class="w-70">
        <p>Sommelier</p>
      </td>
      <td class="w-5" align="center">
        <em class="c-blue">0/1</em>
      </td>
    </tr>
    <tr>
      <td class="w-10">
        <i class="icon-toque"></i>
      </td>
      <td class="w-70">
        <p>Sous-chef</p>
      </td>
      <td class="w-5" align="center">
        <em class="c-blue">1/1</em>
      </td>
    </tr>
  </table>
</div>
