<div class="row">
  <div class="all-full">

    <div class="card pad flow marged-top">
      <h2 class="title flow text-center">Infos</h2>

      <form ng-submit="vm.save()" class="flow">

        <div class="form-group">
          <label for="inputName">Personne à contacter :</label>
          <input id="inputName" type="text" class="form-control" placeholder="Nom / Prenom"/>
        </div>

        <div class="form-group">
          <label for="inputEmail">Adresse mail :</label>
          <input id="inputEmail" type="text" class="form-control" placeholder="Email"/>
        </div>

        <div class="form-group">
          <label for="inputPhone">Telephone :</label>
          <input id="inputPhone" type="text" class="form-control" placeholder="Telephone"/>
        </div>

        <div class="form-group">
          <label for="inputAdress">Adresse :</label>
          <input id="inputAdress" type="text" class="form-control" placeholder="Adresse"/>
        </div>

        <div class="form-group text-right">
          <button type="submit" class="btn">
            <i class="ion-checkmark"></i>
            Enregistrer
          </button>
        </div>

      </form>

    </div>

    <div class="card pad flow">
      <h2 class="title flow text-center">L'établissement</h2>
      <form ng-submit="vm.save()" class="flow">

        <div class="form-group">
          <label for="inputBuis">Nom de l'établissement :</label>
          <input id="inputBuis" type="text" class="form-control" placeholder="Nom de l'établissement"/>
        </div>

        <div class="form-group">
          <label for="inputBuis">Lien vers le site internet :</label>
          <input id="inputBuis" type="text" class="form-control" placeholder="Site internet"/>
        </div>

        <div class="form-group">
          <label for="inputCouv">Nombre de couverts :</label>
          <input id="inputCouv" type="text" class="form-control" placeholder="Nombre de couverts"/>
        </div>

        <div class="form-group">
        </div>

        <div class="form-group text-right">
          <button type="submit" class="btn">
            <i class="ion-checkmark"></i>
            Enregistrer
          </button>
        </div>

      </form>
    </div>

  </div>
</div>
