<modal yolo="vm.showmodal">
  <div class="modal m-2 m-avis">
    <div class="close ion-close-round" ng-click="vm.showmodal = false"></div>
      <h1 class="title marged-bot">Votre avis concernant Jean Bon</h1>
    <table align="center">
      <tr>
        <td>Extra Présent</td>
        <td>
          <span ng-click="vm.activ = !vm.activ" ng-class="{'is-active': vm.activ == false}" class="select-it">oui</span>
          <span ng-click="vm.activ = !vm.activ"  ng-class="{'is-active': vm.activ == true}"  class="select-it">non</span>
        </td>
      </tr>
      <tr>
        <td>Assiduité </td>
        <td ng-click ="vm.stars(0)">
          <i ng-class="{'is-active': vm.tabStars[0] == true}" class="stars-select ion-ios-star"></i>
          <i ng-class="{'is-active': vm.tabStars[0] == true}" class="stars-select ion-ios-star"></i>
          <i ng-class="{'is-active': vm.tabStars[0] == true}" class="stars-select ion-ios-star"></i>
          <i ng-class="{'is-active': vm.tabStars[0] == true}" class="stars-select ion-ios-star"></i>
          <i class="stars-select ion-ios-star"></i></td>
      </tr>
      <tr>
        <td >Présentation  </td>
        <td ng-click ="vm.stars(1)">
          <i ng-class="{'is-active': vm.tabStars[1] == true}" class="stars-select ion-ios-star"></i>
          <i ng-class="{'is-active': vm.tabStars[1] == true}" class="stars-select ion-ios-star"></i>
          <i ng-class="{'is-active': vm.tabStars[1] == true}" class="stars-select ion-ios-star"></i>
          <i class="stars-select ion-ios-star"></i>
          <i class="stars-select ion-ios-star"></i>
        </td>

      </tr>
      <tr>
        <td>Efficacité   </td>
          <td ng-click ="vm.stars(2)"><i ng-class="{'is-active': vm.tabStars[2] == true}" class="stars-select ion-ios-star"></i>
          <i ng-class="{'is-active': vm.tabStars[2] == true}" class="stars-select ion-ios-star"></i>
          <i class="stars-select ion-ios-star"></i>
          <i class="stars-select ion-ios-star"></i>
          <i class="stars-select ion-ios-star"></i></td>
      </tr>
      <tr>
        <td>Note globale   </td>
        <td ng-click ="vm.stars(3)">
          <i ng-class="{'is-active': vm.tabStars[3] == true}" class="stars-select ion-ios-star"></i>
          <i ng-class="{'is-active': vm.tabStars[3] == true}" class="stars-select ion-ios-star"></i>
          <i class="stars-select ion-ios-star"></i>
          <i class="stars-select ion-ios-star"></i>
          <i class="stars-select ion-ios-star"></i></td>
      </tr>
    </table>
    <button class="btn-info">Valider mon avis</button>
  </div>
</modal>

<modal yolo="vm.shittyModal">
  <div class="modal m-2">
    <div ng-click="vm.shittyModal = false" class="close ion-close-round"></div>
    <div class="marged-bot">
      <strong style="font-weight: 400">Nouvelle offre</strong>
    </div>
    <form ng-submit="vm.addOffer()">

      <div class="form-group">
        <label for="">Quoi ?</label>
        <textarea class="form-control visible"
                  placeholder="Description"/>
      </div>

      <div class="form-group">
        <label for="">Quand ?</label>
        <input type="date" class="form-control visible"/>
      </div>

    </form>
  </div>
</modal>

<div class="row offers-list">

  <div class="all-full">

    <header class="big-title">

      <button class="btn-info float-right small" ng-click="vm.shittyModal = true">
        <i class="ion-plus-circled"></i>
        Nouvelle offre
      </button>

      <h2 ng-click="vm.activateModal($event)"><i class="ion-ios-list-outline"></i>Mes offres</h2>

    </header>

  </div>

  <div class="all-full result-row yolo-yallah" ng-repeat="offer in vm.offers">
    <div class="row">

      <div class="all-full desktop-half marged-bot">
        <div class="flow pad-v">
          <strong class="c-red">{{offer.date}}</strong>
        </div>
        <div class="marged-bot">
          <div class="post-offer" ng-repeat="post in offer.posts">
            <p>
              <i ng-if="post.name == 'Sommelier' " class="icon-bottle c-blue"></i>
              <i ng-if="post.name == 'Plongeur' " class="icon-couvert c-blue"></i>
              <i ng-if="post.name == 'Cuisinier' " class="icon-toque c-blue"></i>
              <i ng-if="post.name == 'Serveur' " class="icon-clo c-blue"></i>
              <i ng-if="post.name == 'Barman' " class="icon-glass c-blue"></i>

              {{post.nb}}
              {{post.name}}
            </p>
          </div>
        </div>
        <a class="btn-sm-round" href="/extra/search" style="width: 254px">
          <i class="ion-ios-search-strong"></i>
          Rechercher des candidatures
        </a>
      </div>

      <div class="all-full desktop-half">
        <div class="row  big-bot">
          <div class="all-full flow yolo-result" ng-repeat="job in offer.jobs">
            <div class="card pad">
              <p class="flex">
                <i class="{{ vm.getJobIcon(job.name) }}"></i>
                {{job.name}}
                <em class="extra-name"> {{job.extra}} </em>
                <i ng-if="job.status == 'asked' " class="ion-clock flex-auto-end"></i>
                <i ng-click="vm.selectOffer()" ng-if="job.status == 'confirmed' "
                   class="ion-checkmark interact flex-auto-end"></i>
                <i ng-if="job.status == 'booked' " class="ion-locked  flex-auto-end c-green"></i>
                <i ng-if="job.status == 'waiting' " class="ion-clock flex-auto-end"></i>
              </p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
