<div class="row offers-list">

  <div class="all-full">

    <header class="big-title">

      <button class="btn-info float-right small">
        <i class="ion-plus-circled"></i>
        Nouvelle offre
      </button>

      <h2><i class="ion-ios-list-outline"></i>Mes offres</h2>

    </header>

  </div>

  <div class="all-full result-row yolo-yallah" ng-repeat="offer in vm.offers">
    <div class="row">

      <div class="all-full desktop-half marged-bot">
        <div class="flow pad-v">
          <strong class="c-red">{{offer.date}}</strong>
        </div>
        <button class="btn-sm-round">
          <i class="ion-ios-search-strong"></i>
          Rechercher des candidatures
        </button>
      </div>

      <div class="all-full desktop-half">
        <div class="row  big-bot">
          <div class="all-full flow yolo-result" ng-repeat="job in offer.jobs">
            <div class="card pad">
              <p class="flex">
                <i class="{{ vm.getJobIcon(job.name) }}"></i>
                {{job.name}}
                <em class="extra-name"> {{job.extra}} </em>
                <i ng-if="job.status == 'asked' " class="ion-clock flex-auto-end"></i>
                <i ng-click="vm.selectOffer()" ng-if="job.status == 'confirmed' " class="ion-checkmark interact flex-auto-end"></i>
                <i ng-if="job.status == 'booked' " class="ion-locked  flex-auto-end c-green"></i>
                <i ng-if="job.status == 'waiting' " class="ion-clock flex-auto-end"></i>
              </p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
 </div>
