@import "../../styles/variables";

.offers-list {
  p.flex {
    align-items: center;
  }
  .card i {
    font-size: 35px;
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin-right: 1em;
    &.interact {
      cursor: pointer;
      display: inline;
    }
  }
  em {
    font-size: 16px;
    margin-left: 1em;
  }
  .big-bot {
    margin-bottom: 3em;
  }

  .result-row {
    border-top: 2px solid $c-red;
  }

  strong {
    font-weight: 400;
  }

  .extra-name {
    background: rgba(black, .1);
    padding: 0 1em;
  }

}

.post-offer {
  p {
    font-size: 18px;
    i {
      margin-right: 1em;
      font-size: 21px;
    }
  }
}

.m-avis {
  h1 {
    margin-top: 2em;
    margin-bottom: 3em;
    text-align: center;
  }
  table {
    td {
      padding: .5em ;
    }
    margin: 0 auto 2em auto;
  }
  button {
    display: block;
    margin: 0 auto;
  }
  .select-it {
    padding: .3em;
    margin-right: .5em;
    border: 1px solid transparent;
    color: rgba($c-black, .7);
    cursor: pointer;
    &.is-active {
      background-color: $c-black;
      color: white;
    }
  }
  i {
    color: rgba($c-black, .4);
    &:hover {
      color: $c-yellow;
    }
    &.is-active {
      color: $c-yellow;
    }
  }
}

.yolo-aha {
  text-align: center;
  padding-top: 75px;
}
