<div class="row marged-top pad">
  <div class="all-full">
    <div class="flex">
      <div class="message-pic">
        <img ng-src="assets/images/mockupresto.jpg" alt=""/>
      </div>
      <div class="message-content card pad">
        <small>Aujourdhui, 16h30</small>
        <p>Bonjour Jean, <br>
        Vous venez d'être colicité au sujet de l'annonce du 22 Mars au poste de Sommelier. <br>
        Par le restaurant <em>Benoit</em> au 20, rue Saint Martin 75004 Paris.</p>
      </div>
    </div>
  </div>
</div>
