.modal-shadow {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(black, .5);
  z-index: 999;
}

.modal-container {
  z-index: 1000;
  position: fixed;
  top: 200px;
  bottom: 0;
  left: 0;
  right: 0;
}
