<div class="row">
  <div class="desktop-6 tablet-4 mobile-full centered">
    <div class="login-loader">
      <div class="hook">
        <div class="spinner">
          <i class="ion-ios-loop-strong"></i>
        </div>
      </div>
    </div>
    <section class="login">

      <header class="text-center">
        <i class="ion-fork"></i>
        <h1>Connexion</h1>
      </header>

      <div class="scene">

        <div class="mockup">
          <button class="btn">
            <i class="ion-person"></i>
            Compte demo extra
          </button>
          <button class="btn">
            <i class="ion-person"></i>
            Compte demo restaurant
          </button>
        </div>

        <div class="card pad">

          <form ng-submit="vm.login()">

            <div class="form-group">
              <input class="form-control"
                     focus-me="true"
                     type="text"
                     placeholder="Adresse mail"/>
            </div>

            <div class="form-group">
              <input class="form-control" type="password" placeholder="Mot de passe"/>
            </div>

            <div class="form-group">
              <button class="btn">
                <i class="ion-power"></i>
                Connexion
              </button>
            </div>

          </form>

        </div>

      </div>

      <div class="pad text-center login-back">
        <i class="ion-ios-arrow-back"></i>
        <a href="/">
          retour
        </a>
      </div>

    </section>
  </div>
</div>
