@import "../../styles/variables";

.login {

  > header {
    padding: 5rem 0;
    i {
      font-size: 60px;
      display: block;
      margin-bottom: 1rem;
    }
    h1 {
      font-size: 30px;
    }
  }

  .login-back {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    i {
      margin-top: 2px;
      margin-right: 1em;
    }
    a {
      font-size: 16px;
      color: $c-black;
    }
  }

}

.login-loader {
  display: block;
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translate(-50%, -50%);
  .spinner {
    width: 50px;
    height: 50px;
    -webkit-animation: rotating 2s linear infinite;
  }
  i {
    font-size: 50px;
    line-height: 50px;
  }
}

@-webkit-keyframes rotating {
  from{
    -webkit-transform: rotate(0deg);
  }
  to{
    -webkit-transform: rotate(360deg);
  }
}
