<div class="row">
  <div class="all-half mobile-full centered">
    <section class="login">

      <header>
        <i class="ion-fork"></i>
        <h1>Connexion</h1>
      </header>

      <div class="card pad">

        <form action="">

          <div class="form-group">
            <input class="form-control" type="text" placeholder="Adresse mail"/>
          </div>

          <div class="form-group">
            <input class="form-control" type="password" placeholder="Mot de passe"/>
          </div>

          <div class="form-group">
            <button class="btn">
              <i class="ion-power"></i>
              Connexion
            </button>
          </div>

        </form>

      </div>

    </section>
  </div>
</div>
